In [1]:
import pandas as pd
import sqlalchemy as sqlac
import mysql.connector

In [2]:
dbku = mysql.connector.connect(
host = 'localhost',
user = 'root',
passwd = '12344321',
database = 'ptbaru')
query = 'select * from employees'
# alamatDB = 'mysql://root:12344321@localhost:3306/ptbaru'  ##ga bisa kalau 
# engine = sqlac.create_engine("mysql://root:12344321@localhost:3306/ptbaru") ##untuk sqlalchemy
# df1 = pd.read_sql_table('employees', engine, columns=['nama'])#baca tabel
# df2 = pd.read_sql('select nama, waktu from employees', engine )
# df = pd.read_sql(query, alamatDB) #Ga bisa kalau ga pakai package *dbku
df = pd.read_sql(query, dbku)
df
# df.dtypes .raw_connection()

   id     nama               email               waktu
0   1   Asnawi  asnawi@yahoo.co.id 2019-12-09 09:43:59
1   2    Bagas   bagasadi@yahoo.id 2019-12-09 09:43:59
2   3     Evan     evandd@yahoo.id 2019-12-09 09:43:59
3   4  Osvaldo    osvaldo@yahoo.id 2019-12-09 09:43:59

In [3]:
# engine = sqlac.create_engine("mysql://root:12344321@localhost:3306/ptbaru") ##untuk sqlalchemy
# query = 'select * from employees'
# df = pd.read_sql(query, engine) #Ga bisa kalau ga pakai package *dbku
# df

<!-- # export to my sql -->

In [4]:
# df.to_sql(name='day30dbku', con=dbku, if_exists='replace') ##bikin tabel baru d sql. dari sql di atas
# df

In [5]:
# df.to_csv('gapake.csv', index=False)  ##untuk menjadikan csv
# df

In [6]:
new_data = pd.DataFrame([
    {'id':5,'nama':'Andi','email':'andi@andi.com','waktu':'2019-12-09 11:06:06'},
    {'id':6,'nama':'X','email':'x@y.com','waktu':'2019-02-09 11:06:06'}
])
new_data['waktu'] = pd.to_datetime(new_data['waktu'])
df5 = pd.read_sql('employees', dbku, parse_dates=['waktu'])
dfb = pd.concat([df5,new_data], ignore_index=True, sort=False)
dfb

DatabaseError: Execution failed on sql 'employees': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'employees' at line 1

In [ ]:
new_data = pd.DataFrame([
    {'id':5,'nama':'Andi','email':'andi@andi.com','waktu':'2019-12-09 11:06:06'},
    {'id':6,'nama':'X','email':'x@y.com','waktu':'2019-02-09 11:06:06'}
])
new_data['waktu'] = pd.to_datetime(new_data['waktu'])
df5 = pd.read_sql('employees',engine,parse_dates=['waktu'])
dfb = pd.concat([df5,new_data], ignore_index = True, sort=True)  ##ignore index agar index menjadi ber urut
dfb

In [ ]:
##to set waktu become index
dfb.set_index('waktu', inplace=True)

dfb